services:
  frontend_blue:
    image: estrategia-blue---green_frontend_blue
    ports:
      - "3000:80"

  frontend_green:
    image: estrategia-blue---green_frontend_green
    ports:
      - "3001:80"

  backend_blue:
    image: estrategia-blue---green_backend_blue
    ports:
      - "4000:4000"

  backend_green:
    image: estrategia-blue---green_backend_green
    ports:
      - "4001:4000"

  nginx_lb:
    image: nginx:latest
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - frontend_blue
      - frontend_green
      - backend_blue
      - backend_green
