version: "3"
services:
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  frontend_blue:
    image: estrategia-blue---green_frontend_blue
    container_name: frontend_blue
  frontend_green:
    image: estrategia-blue---green_frontend_green
    container_name: frontend_green
